[push]
	default = current
[color]
	ui = auto
[alias]
	st = status
	co = checkout
	graph = log --graph --pretty=format:\\\"%Cblue%h%Cgreen %an%Creset: %s\\\"
[user]
	name = Louis Simoneau
	email = simoneau.louis@gmail.com
[init]
	templatedir = ~/.git_template
